<link rel="stylesheet" href="About.css">
<body>
    <header>
        <div class="container">
          <h1 class="logo"></h1>
    
          <nav>
            <ul>
              <li><a href="Home.html">HOME</a></li>
              <li><a href="http://localhost:8866/">TWITTER TODAY</a></li>
              <li><a href="Creators.html">CREATORS</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <header class="op">
        <div>
          <h1 class="logo"></h1>
    
          <nav class="sam">
            <ul>
              <li><a href="about.html">BACK TO ABOUT</a></li>
              <li><a href="facts.html">FACTS</a></li>
              <li><a href="Creators.html">STATISTICS</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>

    
</body>