<link rel="stylesheet" href="Statistics.css">
<body>
    <header>
        <div class="container">
          <h1 class="logo"></h1>
    
          <nav>
            <ul>
              <li><a href="Home.html">HOME</a></li>
              <li><a href="http://localhost:8866/">TWITTER TODAY</a></li>
              <li><a href="Creators.html">CREATORS</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <header class="op">
        <div>
          <h1 class="logo"></h1>
    
          <nav class="sam">
            <ul>
              <li><a href="about.html">BACK TO ABOUT</a></li>
              <li><a href="facts.html">FACTS</a></li>
              <li><a href="Creators.html">STATISTICS</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img class="img1" src="https://www.thehindu.com/news/national/pci2ry/article30631354.ece/BINARY/Women-politicianscol" alt="">
    <br>
    <br>
    <br>
    <img class="img2" src="https://www.amnesty.org.uk/files/2017-11/ovaw-response-institutions-chart-2.jpg" src="file:///C:/Users/Samyak%20Verma/Desktop/Picture2.png">
    <br>
    <br>
    <br>
    <img class="img3" src="file:///C:/Users/Samyak%20Verma/Desktop/Picture2.png" src="">
    <br>
    <br>
    <br>
    

</body>