<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap" rel="stylesheet">
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>TeaMl</title>
  </head>
  <link rel="stylesheet" href="Home.css">
<body>
    <header>
        <div class="container">
          <h1 class="logo"></h1>
    
          <nav>
            <ul>
              <li><a href="Home.html">HOME</a></li>
              <li><a href="About.html">ABOUT</a></li>
              <li><a href="http://localhost:8866/">TWITTER TODAY</a></li>
            </ul>
          </nav>
        </div>
    </header>
   
    <div >
    <br> 
    <br> 
    <h1 class="f" ><center> CREATORS
    </center></h1>
    <div class="row my-4">
            <div class="col-lg-4 col-md-4">
              <img src= "Abhigya.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" style="position: absolute; left:130px"><rect width="100%" height="100%" fill="#777"></rect></img>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <h2 style="position: absolute; left:90px" class="s">Abhigya Verma</h2>
              <br>
              <br>
              <p style="position: absolute; left:40px;right:50px" class="c">I am a technology enthusiast. I am an engineering student from IGDTUW. I am specializing in the branch Information Technology. I love machine learning and I aspire to be a Software Developer one day. </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <p style="position: absolute; left:130px" class="c"><a class="btn btn-secondary" href="https://github.com/abhi27-web" role="button">Github »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4">
              <img src= "Gaurisha.JPG" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" style="position: absolute; left:130px"><rect width="100%" height="100%" fill="#777"></rect></img>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <h2 style="position: absolute; left:70px"class="s">Gaurisha Srivastava</h2>
              <br>
              <br>
              <p style="position: absolute; left:40px;right:50px" class="c">I am a Sophomore at IGDTUW, B.Tech IT. 'Learning By Doing' has always been my mantra. As a result, I am a believer who believes in the power of Artificial Intelligence to revolutionize the world. </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <p style="position: absolute; left:150px" class="c"><a class="btn btn-secondary" href="https://github.com/Gaurisha21" role="button">Github »</a></p>
            </div>
              <div class="col-lg-4 col-md-4">
              <img src= "Samyak.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" style="position: absolute; left:130px"><rect width="100%" height="100%" fill="#777"></rect></img>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <h2 style="position: absolute; left:100px " class="s">Samyak Verma</h2>
              <br>
              <br>
              <p style="position: absolute; left:40px;right:50px" class="c">I am a middle school student and am very keenly interested in web development. I have just begun with programming and this is my first project. </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <p style="position: absolute; left:160px;right:50px" class="c"><a class="btn btn-secondary" href="https://github.com/SamyakVerma" role="button">Github »</a></p>
            </div>
            </div>
        </div>
      </div>
    </body>
